// COLORS
$primary-color: rgba(22, 207, 31, 0.667);
$secondary-color: #10d4ba;

$white-color: rgb(236, 239, 241);

$dark-grey: #333333;

$dark-blue-text:#272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
